* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;    
    font-size: 16px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.orange-text {
    color: #ff9933; 
}

/* 1. HEADER */
.main-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1400px; 
    margin: 0 auto; 
    padding: 0.9375rem 2.5rem;
    background-color: white;
}

.logo img {
    height: 5rem; 
    max-width: 100%; 
}

.main-nav ul {
    list-style: none; 
    display: flex; 
    margin: 0; 
    padding: 0; 
    align-items: center; 
}

.main-nav ul li a {
    text-decoration: none; 
    color: #ff9933; 
    font-weight: bold; 
    font-size: 1.5rem; 
    padding: 1.25rem; 
    line-height: 1; 
}

.main-nav ul li .nav-icon-image {
    width: 3.75rem; 
    height: 3.75rem; 
    object-fit: contain;
    vertical-align: middle;
}

/* 2. HERO SECTION */
.hero-section {
    background-color: white;
    display: flex;
    width: 100%; 
    max-width: 1300px; 
    margin: 6.25rem  auto; 
    gap: 3.125rem; 
    align-items: center; 
    justify-content: center; 
}

.hero-image {
    flex: 1; 
    width: 100%; 
    height: auto; 
    max-width: 450px; 
    margin: 0 auto; 
    display: block;
}

.hero-content {
    background-color: white;
    text-align: left; 
    flex: 1;
}

.hero-content h1 {
    font-size: 5rem; 
    line-height: 1.1;
    margin-top: 3.4375rem; 
    margin-bottom: 1.25rem;
}

.hero-content .subtitle {
    color: #734933;
    margin-bottom: 1.5625rem; 
    font-size: 1.7rem; 
    line-height: 2;
}

.hero-content ul {
    color: #734933;
    list-style: none;
    padding-left: 0;
}

.hero-content ul li {
    display: flex;
    align-items: center; 
    font-size: 1.7rem; 
    margin-bottom: 1.5625rem;
    gap: 0.625rem;
}

.list-icon { 
    width: 1.6875rem; 
    height: 1.6875rem; 
    flex-shrink: 0; 
    object-fit: contain;
}

/* 3. GALLERY SECTION */
.products-section {
   max-width: 1400px; 
    width: 90%; 
    margin: 0 auto; 
    color: #734933;
    padding: 1.25rem 0; 
    text-align: left;
}

.hr-single {
    border: none;
    height: 5px; 
    background-color: #D19976; 
    margin-top: 0.625rem; 
    margin-bottom: 3.125rem; 
    max-width: 1400px;
}

hr {
   border: none;
    background: none; 
    height: 4.0625rem; 
    margin: 2.5rem auto; 
    border-top: 5px solid #D19976;
    border-bottom: 5px solid #D19976; 
    max-width: 1400px;
}

.title-section {
    font-size: 5rem; 
    color: #ff9933;
    margin-bottom: 1.5625rem;
}

.category-title {
    text-align: left; 
    color: #734933;
    font-weight: bold;
    font-size: 2.5rem; 
    margin-top: 1.875rem;
}

.product-category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 1.25rem;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
    font-size: 1.5rem; 
    line-height: 2;
    text-align: center;
    max-width: 1400px; 
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    flex-wrap: nowrap; 
    overflow-x: auto; 
    padding-bottom: 15px;
    scrollbar-width: none;
}

.product-photo {
   width: 100%; 
    height: auto;
    aspect-ratio: 4/5; 
    object-fit: cover;
    border-radius: 2.5rem; 
    max-width: 350px; 
    display: block;
    margin: 0 auto;
}

.product-photo-keripik {
    display: flex;
    justify-content: flex-start; 
    max-width: 350px; 
    border-radius: 2.5rem;
    grid-template-columns: unset;
    gap: unset;
}

.nama-keripik  {
    text-align: left !important; 
    width: 100%;
    margin-left: 2.5em;
}

.product-item {
    flex-shrink: 0; 
    width: 320px;
    margin-right: 20px; 
    text-align: center;
}

.hr-pemisah {
    border: none;
    background: none; 
    margin-top: 0.625rem; 
    height: 0;
    margin-bottom: 0;
    border-top: 5px solid #D19976;
    max-width: 1400px; 
    margin-left: auto;
    margin-right: auto;
}

.order {
    width: 25rem;
    height: 6.25rem;
    margin-top: 1rem;
    margin-bottom: 15.625rem;
}

.hr-akhir {
    border: none;
    background: none; 
    margin-bottom: 0;
    border-top: 5px solid #D19976;
}

.logo-kembali-img {
    width: 3.75rem; 
    height: 3.75rem;
    margin-left: 95%; 
    transform: translateX(-100%); 
}


/* 5. MEDIA QUERIES */

@media (max-width: 1200px) {
    /* HERO SECTION */
    .hero-section {
        flex-direction: column; 
        text-align: center;
        margin: 3rem auto;
    }

    .hero-image {
        max-width: 90%; 
        height: auto;
    }
    
    .hero-content {
        text-align: center;
    }

    .hero-content ul {
        padding: 0 10%; 
    }


    /* GALLERY */
    .product-category {
        grid-template-columns: repeat(3, 1fr); 
    }
    
    .logo-kembali-img {
        margin-left: 90%; 
        transform: translateX(-100%); 
    }
}

    /* HERO */
    .hero-content h1 {
        font-size: 3rem; 
    }
    .hero-content .subtitle, .hero-content ul li {
        font-size: 1.2rem;
    }

    /* GALLERY */
    .title-section {
        font-size: 3rem;
    }
    
    .product-category {
        grid-template-columns: repeat(2, 1fr); 
    }

   
