* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    color: #ffa757;
    line-height: 1.5;
}

/* =====================
    HEADER
===================== */
header {
    padding: 20px 80px;
    background-color: #fff;
    top: 0;
    z-index: 100;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 41px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #ffa757;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #ffa757;
}